.form {
    width: 70%;
    margin: auto;
    padding: auto;
}
.table {
    width:400px;
    background-color: pink;
}

.center {
    background-color: palevioletred;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


.center button {
    background-color:blue;
    font-weight: bold;
    font-size: 20px;
}
.table .center {
    margin: auto;

}